<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frankstar.spring.dao.UserDao">


  <resultMap id="userEntity" type="com.frankstar.spring.entity.User">
    <id property="id" column="id" />
    <result property="userId" column="user_id" />
    <result property="login" column="login" />
    <result property="password" column="password"/>
    <result property="userName" column="username"/>
    <result property="address" column="address"/>
    <result property="job" column="job"/>
    <result property="groupId" column="group_id"/>
    <result property="birthday" column="birthday"/>
    <result property="cityId" column="city_id"/>
    <result property="cityName" column="city_name"/>
    <result property="district" column="district"/>
    <result property="province" column="province"/>
    <result property="streetAddress" column="street_address"/>
    <result property="state" column="state"/>
    <result property="type" column="type"/>
    <result property="lasLoginState" column="last_login_state"/>
    <result property="addTime" column="add_time"/>
    <result property="updateTime" column="update_time"/>
  </resultMap>

  <sql id="UpsertColumn">
    user_id, login, password, username, address, job, group_id, birthday, city_id, city_name, district, province, street_address,
    state, type, last_login_state, add_time
  </sql>

  <sql id="QueryColumn">
    id, <include refid="UpsertColumn"/>
  </sql>

  <select id="findUser" resultMap="userEntity">
    SELECT <include refid="QueryColumn"/>
    FROM frankstar_user
    WHERE user_id = #{userId}
  </select>

  <insert id="addUser" useGeneratedKeys="true" keyProperty="user.id" parameterType="map">
    INSERT INTO frankstar_user
    <include refid="UpsertColumn"/>
    VALUES
    (
    #{user.userId},
    #{user.login},
    #{user.password},
    #{user.username},
    #{user.address},
    #{user.job},
    #{user.group_id},
    #{user.birthday},
    #{user.city_id},
    #{user.city_name},
    #{user.district},
    #{user.province},
    #{user.stree_address},
    #{user.state},
    #{user.type},
    #{user.lastLoginDate},
    now()
    )
  </insert>

</mapper>